/* styles.css */
@media (max-width: 768px) {
    .hidden-mobile {
        display: none;
    }
}

/* Add this CSS to your styles */
.center-pagination .ant-pagination {
    display: flex;
    justify-content: center;
}
