/* styles.css */
@media (max-width: 768px) {
    .hidden-mobile {
        display: none;
    }

}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    /* Change duration as needed */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}