.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(173, 216, 230, 0.3);
    /* Light blue with transparency */
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    border-radius: 15px;
    /* Round corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* Shadow for depth */
    position: fixed;
    /* Fix the navbar at the top */
    top: 0;
    /* Align to the top */
    width: 100%;
    /* Full width */
    z-index: 1000;
    /* Ensure it is above other elements */
}

.navbar-title {
    font-size: 1.5rem;
    /* Adjust font size */
    font-weight: bold;
    /* Bold text */
    cursor: pointer;
    /* Pointer cursor on hover */
    color: #0F67B1;
    /* Adjust text color to a darker blue */
}

.ant-dropdown-link {
    color: #0F67B1;
    /* Ensure dropdown items match the theme */
}

.ant-avatar {
    background-color: #007ee4;
    /* Light blue avatar background */
}

.ant-dropdown-menu-item:hover {
    background: rgba(255, 255, 255, 0.4) !important;
    transform: translateX(5px);
}

.ant-dropdown-menu {
    overflow: hidden !important;
}