/* Add this CSS to your styles */
.center-pagination .ant-pagination {
    display: flex;
    justify-content: center !important;
}

.glassmorphism {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    /* Giảm độ mờ của nền */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    /* Tăng độ mờ nền để tạo hiệu ứng glassmorphism rõ hơn */
    -webkit-backdrop-filter: blur(5px);
    /* Tăng độ mờ nền để tạo hiệu ứng glassmorphism rõ hơn */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Giảm độ mờ của đường viền */
    /* Padding inside the container */
    /* color: #fff; */
    /* Text color (white) */
}

.glassmorphism-filter-section {
    background: rgba(255, 255, 255, 0.3);
    /* Background color with transparency */
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    border-radius: 15px;
    /* Round corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* Shadow for depth */
}


.current-device-data-card {}

.current-device-data-card h2 {
    color: #004279;
    /* Dark blue for the title */
}

.current-device-data-card p {
    color: #004278;
    /* Dark blue for the timestamp */
}

.current-device-data-card .ant-progress-circle {
    margin-top: 16px;
    /* Add some space above the circles */
}

