/* Add this CSS to your styles */
.center-pagination .ant-pagination {
    display: flex;
    justify-content: center !important;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    /* Semi-transparent white background */
    border-radius: 10px;
    /* Rounded corners */
    backdrop-filter: blur(10px);
    /* Blur effect */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    border: 2px solid rgba(255, 255, 255, 0.2);
    /* Optional border */
    padding: 20px;
    /* Padding inside the container */
    /* color: #fff; */
    /* Text color (white) */
}

.glassmorphism-filter-section {
    background: rgba(255, 255, 255, 0.3);
    /* Background color with transparency */
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    border-radius: 15px;
    /* Round corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* Shadow for depth */
}


.current-device-data-card {
    
}

.current-device-data-card h2 {
    color: #004279;
    /* Dark blue for the title */
}

.current-device-data-card p {
    color: #004278;
    /* Dark blue for the timestamp */
}

.current-device-data-card .ant-progress-circle {
    margin-top: 16px;
    /* Add some space above the circles */
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}