/* styles.css */
@media (max-width: 768px) {
    .hidden-mobile {
        display: none;
    }

}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    /* Change duration as needed */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* styles.css */

.glassmorphism {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    /* Giảm độ mờ của nền */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    /* Tăng độ mờ nền để tạo hiệu ứng glassmorphism rõ hơn */
    -webkit-backdrop-filter: blur(5px);
    /* Tăng độ mờ nền để tạo hiệu ứng glassmorphism rõ hơn */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Giảm độ mờ của đường viền */
    /* Padding inside the container */
    /* color: #fff; */
    /* Text color (white) */
}